/export
/frontend/.yarn
/data
/dist
frontend/.editorconfig
frontend/package-lock.json
/node_modules
/src/data
logbook-440cb-firebase-adminsdk-fbsvc-d830ad118d.json
calculate-target.js
node.exe
serviceAccount.json
frontend/.eslintrc.js
frontend/.gitignore
frontend/.prettierrc
package-lock.json
frontend/node_modules
frontend/dist
frontend/export
frontend/.angular
frontend/yarn.lock
frontend/src/@types
.gitignore
.git
firebase.json
deploy-check.yml
deploy-key.js
encoded.txt
db.lock.js
ss.json
/out
