/export
/frontend/.yarn
/data
/dist
frontend/.editorconfig
frontend/package-lock.json
/node_modules
/src/data
logbook-440cb-firebase-adminsdk-fbsvc-d830ad118d.json
calculate-target.js
node.exe
