@import "../../../styles.scss";

.outer {
    background-color: var(--background-secondary-color);
    width: 12vw;
    padding: 1rem 0;
    min-width: 200px;
    border-radius: 12px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .outer {
        width: 100vw !important;
        margin: 0;
        justify-content: space-evenly;
        position: absolute;
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 0;
        background-color: var(--background-secondary-color);
        bottom: 0;
        z-index: 99;
    }
}