<app-loading-A1 *ngIf="loading; else notLoading"></app-loading-A1>

<ng-template #notLoading>
  <ng-container *ngIf="items.length > 0; else emptyState">
    <div class="items-container" #itemsContainer (scroll)="onScroll($event)">
      <app-inventory-item
        [item]="item"
        *ngFor="let item of items"
        (onItemClick)="itemClick($event)"
        >
      </app-inventory-item>

      <!-- 👇 big blank space at the end -->
      <div class="bottom-spacer"></div>

      <!-- 👇 bottom loader -->
      <div class="bottom-loader" *ngIf="loadingMore">
        <span>Loading more...</span>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyState>
    <app-empty-message></app-empty-message>
  </ng-template>
</ng-template>
