.cash-payment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .error {
    border-color: red !important;
    color: red !important;
    font-weight: bold;
  }

  .error-hint {
    color: red;
    font-size: 0.8rem;
  }
}